<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <form action="/create" method="POST">
        <div>
            <h1>Sign Up</h1>
            <div>
                <input class="username" type="text" name="username" placeholder="Your Username" required>
                <input class="email" type="email" name="email" placeholder="Your Email" required>
                <input class="phone" type="tel" name="phone" placeholder="Your Phone Number" required>
                <input class="password" type="password" name="password" placeholder="Your Password" required>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
            <button type="submit">Sign Up</button>
        </div>
        </form>
        <form action="/login-page" method="POST">
            <button type="submit">Back</button>
        </form>
    </div>
</body>
</html>