<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Password Reset</h1>
        <form action="/reset" method="POST">
            <div>
                <input class="password" type="password" name="password1" placeholder="Enter New Password" required>
                <input class="password" type="password" name="password2" placeholder="Confirm Password" required>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>