<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container welcome-container">
        <div class="welcome-header">
            <h1>Expirex</h1>
            <h1>Welcome, {{ name }}!</h1>
            <h2>Customize your Notification settings</h2>
        </div>
        
        {% if message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
        <h2>{{ entry['category'] }}</h2>
        {% for entry in entries %}
            {%if entry['category'] == "Medicine" %}
                <div class="product-entry">
                    <div class="product-name">{{ entry['product_name'] }}</div>
                    <div class="expiry-date">Best Before: {{ entry['expiry_date'] }}</div>
                    {%if entry['notification'] == 'on' %}
                        <div class="notification-status notification-enabled">Notifications: Enabled</div>
                        <form action="/disable-notification" method="POST">
                            <input type="hidden" name="product_name" value="{{ entry['product_name'] }}">
                            <button type="submit">Disable Notifications</button>
                        </form>
                    {% else %}
                        <div class="notification-status notification-disabled">Notifications: Disabled</div>
                        <form action="/enable-notification" method="POST">
                            <input type="hidden" name="product_name" value="{{ entry['product_name'] }}">
                            <button type="submit">Enable Notifications</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="logout-section">
            <form action="/logout" method="POST">
                <button type="submit" class="btn-secondary">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>